Client/Connected Services/projServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EMS.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proj_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMS.Models" minOccurs="0" name="getProjectResult" nillable="true" type="q1:ProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMS.Models" minOccurs="0" name="getProjectsResult" nillable="true" type="q2:ArrayOfProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectsByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dept_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectsByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMS.Models" minOccurs="0" name="getProjectsByDepartmentIdResult" nillable="true" type="q3:ArrayOfProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EMS.Models" minOccurs="0" name="dto" nillable="true" type="q4:ProjectDTO" />
        <xs:element minOccurs="0" name="dept_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proj_id" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EMS.Models" minOccurs="0" name="p" nillable="true" type="q5:ProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proj_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proj_id" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Emps" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmployeesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proj_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EMS.Models" minOccurs="0" name="viewEmployeesResult" nillable="true" type="q7:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEmployeeFromProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proj_id" type="xs:int" />
        <xs:element minOccurs="0" name="emp_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEmployeeFromProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeEmployeeFromProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>