Client/Connected Services/projServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProjectService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EMS.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectService_getProject_InputMessage">
    <wsdl:part name="parameters" element="tns:getProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_getProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_getProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:getProjects" />
  </wsdl:message>
  <wsdl:message name="IProjectService_getProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_getProjectsByDepartmentName_InputMessage">
    <wsdl:part name="parameters" element="tns:getProjectsByDepartmentName" />
  </wsdl:message>
  <wsdl:message name="IProjectService_getProjectsByDepartmentName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProjectsByDepartmentNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_addProject_InputMessage">
    <wsdl:part name="parameters" element="tns:addProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_addProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_updateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_updateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_deleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_deleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectService">
    <wsdl:operation name="getProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/getProject" message="tns:IProjectService_getProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/getProjectResponse" message="tns:IProjectService_getProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/getProjects" message="tns:IProjectService_getProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/getProjectsResponse" message="tns:IProjectService_getProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProjectsByDepartmentName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/getProjectsByDepartmentName" message="tns:IProjectService_getProjectsByDepartmentName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/getProjectsByDepartmentNameResponse" message="tns:IProjectService_getProjectsByDepartmentName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/addProject" message="tns:IProjectService_addProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/addProjectResponse" message="tns:IProjectService_addProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/updateProject" message="tns:IProjectService_updateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/updateProjectResponse" message="tns:IProjectService_updateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/deleteProject" message="tns:IProjectService_deleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/deleteProjectResponse" message="tns:IProjectService_deleteProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProjectService" type="tns:IProjectService">
    <wsp:PolicyReference URI="#NetTcpBinding_IProjectService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getProject">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/getProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjects">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/getProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsByDepartmentName">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/getProjectsByDepartmentName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProject">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/addProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/updateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProject">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/deleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="NetTcpBinding_IProjectService" binding="tns:NetTcpBinding_IProjectService">
      <soap12:address location="net.tcp://localhost:8000/projService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/projService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-L0P44M57\lathi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>