Client/Connected Services/deptServiceRef/EMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
</xs:schema>