Client/Connected Services/deptServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDepartmentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EMS.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentService_getDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_getDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_getDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartments" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_getDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_addDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:addDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_addDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_updateDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:updateDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_updateDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_deleteDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_deleteDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentService">
    <wsdl:operation name="getDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/getDepartment" message="tns:IDepartmentService_getDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/getDepartmentResponse" message="tns:IDepartmentService_getDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/getDepartments" message="tns:IDepartmentService_getDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/getDepartmentsResponse" message="tns:IDepartmentService_getDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/addDepartment" message="tns:IDepartmentService_addDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/addDepartmentResponse" message="tns:IDepartmentService_addDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/updateDepartment" message="tns:IDepartmentService_updateDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/updateDepartmentResponse" message="tns:IDepartmentService_updateDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/deleteDepartment" message="tns:IDepartmentService_deleteDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/deleteDepartmentResponse" message="tns:IDepartmentService_deleteDepartment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDepartmentService" type="tns:IDepartmentService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDepartmentService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getDepartment">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/getDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartments">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/getDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDepartment">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/addDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDepartment">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/updateDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartment">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/deleteDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="NetTcpBinding_IDepartmentService" binding="tns:NetTcpBinding_IDepartmentService">
      <soap12:address location="net.tcp://localhost:8000/deptService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/deptService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-L0P44M57\lathi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>