Client/Connected Services/empServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmployeeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EMS.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_getEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployeesByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeesByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployeesByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeesByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:addEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_updateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_updateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_deleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_deleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="getEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getEmployee" message="tns:IEmployeeService_getEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeeResponse" message="tns:IEmployeeService_getEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getEmployees" message="tns:IEmployeeService_getEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeesResponse" message="tns:IEmployeeService_getEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeesByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeesByDepartmentId" message="tns:IEmployeeService_getEmployeesByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeesByDepartmentIdResponse" message="tns:IEmployeeService_getEmployeesByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/addEmployee" message="tns:IEmployeeService_addEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/addEmployeeResponse" message="tns:IEmployeeService_addEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/updateEmployee" message="tns:IEmployeeService_updateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/updateEmployeeResponse" message="tns:IEmployeeService_updateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/deleteEmployee" message="tns:IEmployeeService_deleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/deleteEmployeeResponse" message="tns:IEmployeeService_deleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmployeeService" type="tns:IEmployeeService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmployeeService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/getEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/getEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeesByDepartmentId">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/getEmployeesByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/addEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/updateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/deleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="NetTcpBinding_IEmployeeService" binding="tns:NetTcpBinding_IEmployeeService">
      <soap12:address location="net.tcp://localhost:8000/empService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/empService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-L0P44M57\lathi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>